

//********  COLOURS **************
$header-bg: #ddd;

//*******  FONTS *****************
$body-fonts: "open sans", helvetica, sans-serif;
$header-fonts:  "Marcellus SC", Arial, sans-serif;

//********  HEADING  **************

//********  LAYOUT  **************

$full:  100%;